In [41]:
import pandas as pd
import numpy as np
import sklearn
import os


df = pd.read_csv("/Users/khalidmahmood/Coding Workspace/Will-My-Flight-Be-Delayed/data/Airline_Delay_Cause.csv")

In [46]:
df.shape 
df.head()

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2025,2,9E,Endeavor Air Inc.,ABE,"Allentown/Bethlehem/Easton, PA: Lehigh Valley ...",78.0,9.0,5.52,0.52,...,0.00,0.12,0.0,0.0,733.0,578.0,16.0,102.0,0.0,37.0
1,2025,2,9E,Endeavor Air Inc.,AEX,"Alexandria, LA: Alexandria International",78.0,12.0,5.77,1.62,...,0.00,2.86,0.0,0.0,803.0,379.0,75.0,92.0,0.0,257.0
2,2025,2,9E,Endeavor Air Inc.,AGS,"Augusta, GA: Augusta Regional at Bush Field",91.0,13.0,2.47,0.93,...,0.00,5.35,0.0,0.0,964.0,101.0,507.0,197.0,0.0,159.0
3,2025,2,9E,Endeavor Air Inc.,ALB,"Albany, NY: Albany International",56.0,12.0,4.34,0.34,...,0.00,2.00,2.0,1.0,761.0,246.0,35.0,239.0,0.0,241.0
4,2025,2,9E,Endeavor Air Inc.,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",2700.0,416.0,83.87,16.73,...,0.16,171.98,24.0,3.0,33668.0,10723.0,1790.0,6851.0,15.0,14289.0

In [47]:
columns_im_dropping = ["carrier_name" , "airport_name" , "security_ct" , "security_delay"]
df.drop(columns = [x for x in columns_im_dropping if x in df.columns] , inplace=True)

In [48]:
print(df.columns.tolist())
df

['year', 'month', 'carrier', 'airport', 'arr_flights', 'arr_del15', 'carrier_ct', 'weather_ct', 'nas_ct', 'late_aircraft_ct', 'arr_cancelled', 'arr_diverted', 'arr_delay', 'carrier_delay', 'weather_delay', 'nas_delay', 'late_aircraft_delay']

,year,month,carrier,airport,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,late_aircraft_delay
0,2025,2,9E,ABE,78.0,9.0,5.52,0.52,2.84,0.12,0.0,0.0,733.0,578.0,16.0,102.0,37.0
1,2025,2,9E,AEX,78.0,12.0,5.77,1.62,1.75,2.86,0.0,0.0,803.0,379.0,75.0,92.0,257.0
2,2025,2,9E,AGS,91.0,13.0,2.47,0.93,4.25,5.35,0.0,0.0,964.0,101.0,507.0,197.0,159.0
3,2025,2,9E,ALB,56.0,12.0,4.34,0.34,5.32,2.00,2.0,1.0,761.0,246.0,35.0,239.0,241.0
4,2025,2,9E,ATL,2700.0,416.0,83.87,16.73,143.26,171.98,24.0,3.0,33668.0,10723.0,1790.0,6851.0,14289.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70056,2022,2,ZW,STL,1.0,0.0,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
70057,2022,2,ZW,SYR,32.0,3.0,1.15,0.00,1.14,0.71,2.0,0.0,205.0,134.0,0.0,29.0,42.0
70058,2022,2,ZW,TUL,2.0,0.0,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
70059,2022,2,ZW,TVC,42.0,11.0,4.37,0.00,3.85,2.78,3.0,1.0,623.0,218.0,0.0,138.0,267.0
70060,2022,2,ZW,TYS,79.0,14.0,2.85,0.00,5.99,5.16,5.0,0.0,620.0,129.0,0.0,250.0,241.0

In [51]:
df

,year,month,carrier,airport,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,late_aircraft_delay
0,2025,2,9E,ABE,78.0,9.0,5.52,0.52,2.84,0.12,0.0,0.0,733.0,578.0,16.0,102.0,37.0
1,2025,2,9E,AEX,78.0,12.0,5.77,1.62,1.75,2.86,0.0,0.0,803.0,379.0,75.0,92.0,257.0
2,2025,2,9E,AGS,91.0,13.0,2.47,0.93,4.25,5.35,0.0,0.0,964.0,101.0,507.0,197.0,159.0
3,2025,2,9E,ALB,56.0,12.0,4.34,0.34,5.32,2.00,2.0,1.0,761.0,246.0,35.0,239.0,241.0
4,2025,2,9E,ATL,2700.0,416.0,83.87,16.73,143.26,171.98,24.0,3.0,33668.0,10723.0,1790.0,6851.0,14289.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70056,2022,2,ZW,STL,1.0,0.0,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
70057,2022,2,ZW,SYR,32.0,3.0,1.15,0.00,1.14,0.71,2.0,0.0,205.0,134.0,0.0,29.0,42.0
70058,2022,2,ZW,TUL,2.0,0.0,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
70059,2022,2,ZW,TVC,42.0,11.0,4.37,0.00,3.85,2.78,3.0,1.0,623.0,218.0,0.0,138.0,267.0
70060,2022,2,ZW,TYS,79.0,14.0,2.85,0.00,5.99,5.16,5.0,0.0,620.0,129.0,0.0,250.0,241.0